.sneakerstop-action-button {
    display: block;
    position: relative;
    height: 40px;
    line-height: 40px;
    width: 200px;
    margin: 20px auto 0px auto;
    color: white;
    background-color: $sneakerstop-blue;
    border: 2px solid $sneakerstop-blue;
    font-family: 'Trade Gothic';
    font-size: 18px;   
    cursor: pointer;
    & div {
        display: inline-flex;
        vertical-align: top;
        font-size: 40px;
        line-height: 30px;
        font-family: 'Trade Gothic Light';
    }
    &.inverse {
        background-color: white;
        color: $sneakerstop-blue;
    }
    & .text {
        line-height: 40px;
        text-align: center; 
        font-family: 'Trade Gothic';
        font-size: 18px;        
        padding: 0px 5px 0px 5px;
        transition: padding 0.2s;
    }
    &:hover {
        text-decoration: none;
        & .text {
            padding: 0px 10px 0px 10px;
        }
    }
}