input,textarea {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
    border: 1px solid #bbb;
}

.inputfield {
	width: 100%;
	font-size: 14px;
	line-height: 30px;
    background-color: white;
    border: none;
    border-bottom: 1px solid #aaa;
	&.invalid {
		background-color: pink;
		border-bottom: 1px solid red;
	}
	&:focus {
        background-color: white;
		outline: none;
		border-bottom: 1px solid $sneakerstop-blue;
	}
}

.error-message {
    font-family: helvetica;
    height: 20px;
    line-height: 20px;
	width: 100%;
	text-align: left;
	color: red;
    font-size: 12px;
    margin-bottom: 10px;    
}