.sneakerstop-navbar {
    z-index: 5;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80px;
    background: #000;
    background: linear-gradient(to right, #000 , #333334);
    color: white;
    & li {
        display: inline-block;
        list-style-type: none;
    }  
}

.sneakerstop-logo-container {
    & a {
        color: white;
        cursor: pointer;
    }
    & h1 {
        font-family: 'Wolf';        
        font-size: 64px;
    }
    text-align: center;
    z-index: 6;
    position: absolute;
    top: 0px;
    width: 220px;
    height: 80px;
    float: left;
}

.sneakerstop-nav-container {
    display: none;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 100%;
    float: right;
    height: 80px;
}

.sneakerstop-logout-link {
    cursor: pointer;
}


.sneakerstop-navbar-top {
    font-family: 'Trade Gothic Light';
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    top: 0px;
    & ul {
        margin-right: 25px;                
        margin-top: 5px;
        height: 25px;
        & li {
            margin-right: 10px;                
            
            & img {
                position: absolute;
                right: 10px;
                top: 10px;
                height: 14px;
            }
            & a {
                color: white;
            }
        }
    }
}

.sneakerstop-navbar-bottom {
    text-align: center;
    font-family: 'Trade Gothic Condensed';
    height: 50px;
    & ul {
        position: relative;
        display: inline-block;                
        margin: auto;
        width: 240px;
        height: 50px;
        padding: 0px;
        & li {
            font-size: 22px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            height: 45px;
            line-height: 30px;
            text-align: center;
            &:hover {
                background-color: white;
                color: black;
                cursor: pointer;
            }           
        }
    }
}

.sneakerstop-search {
    display: inline-block;
    position: absolute;
    height: 45px;
    padding-top: 5px;
    right: 70px;
    & input {
        font-family: 'Trade Gothic Condensed';
        padding-left: 5px;
        color: #bbb;
        height: 30px;
        line-height: 30px;
        width: 160px;
        box-sizing: border-box;
        font-size: 18px;
        border: none;
        &::placeholder {
            color: #bbb;
        }
    }               
}

.sneakerstop-cart-icon-container {
    display: inline-block;
    position: absolute;
    margin-top: 6px;
    height: 30px;
    right: 0px;
    width: 90px;
    color: white;
    & img {
        height: inherit;
        //reverse it
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

.sneakerstop-cart-item-count {
    position: absolute;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 30px;
    right: 20px;
}

.sneakerstop-hamburger-container {
    display: block;
    float: right;
    text-align: center;
    line-height: 80px;
    height: 80px;
    width: 80px;
}

@media (min-width: 768px) {
    .sneakerstop-navbar .sneakerstop-nav-container {
        display: block;
    }
    .sneakerstop-navbar .sneakerstop-hamburger-container {
        display: none;
    }
}