//full-width-container
.sneakerstop-product-row {
    background-color: white;
    padding: 10px 0px 20px 0px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    text-align: center;
    & h2 {
        font-family: 'Trade Gothic Condensed';
        font-size: 30px;
        height: 60px;
        line-height: 60px;
        margin-bottom: 10px;
    }
}

@media(min-width: 650px) {
    .sneakerstop-product-row {
        text-align: left;
        & h2 {
            margin-left: 50px;            
        }
    }
}

.sneakerstop-product-thumbnails {
    position: absolute;
    width: 94%;
    left: 3%;
    height: 200px;
    overflow-x: hidden;
}

//sliding container
.sneakerstop-product-thumbnails-flex-container {
    display: flex;
    flex-wrap: nowrap;
    & a {
        position: relative;
        display: inline-block;
        margin: 0px 10px 0px 10px;
        padding: 0px 5px 0px 5px;
        height: 200px;
        background-color: white;
        box-sizing: border-box;
        cursor: pointer;
    }
}

.sneakerstop-product-thumbnail {
    text-align: center;
    width: 150px;
    & img {
        margin: auto;
        width: 90%;                
    }
    & h3,h4 {
        font-family: 'Trade Gothic';
        margin: 20px auto 0px auto;
    }
    & h3 {
        font-size: 14px;            
        color: #666;
    }
    & h4 {
        font-size: 12px;            
        color: $sneakerstop-blue;
        margin-top: 5px;
    } 
    &:hover {
        & h3 {
            color: $sneakerstop-blue;            
        }
    }
}

//arrow buttons
.sneakerstop-product-row .arrow-container {
    top: 0px;
    font-size: 36px;
    position: absolute;
    height: 200px;
    line-height: 200px;
    color: rgba(0,0,0,0.1);
    width: 40px;
    z-index: 10;
    cursor: pointer;
    &:hover {
        color: rgba(0,0,0,0.3);
    }
    &.left {
        left: 0px;
        text-align: left;
        background: linear-gradient(to left, rgba(0,0,0,0), white);  
    }
    &.right {
        right: 0px;
        text-align: right;
        background: linear-gradient(to right, rgba(0,0,0,0), white);        
    }
}
