.login-page {
    position: relative;
    margin-top: 0px;
    background-color: white;
    padding-top: 120px;
    padding-bottom: 80px;
}

.header-container {
    z-index: 10;
    background-color: black;
    height: 100px;
}

.login-form-container {
	width: 100%;
	position: relative;
    margin: 30px auto 30px auto;
	padding: 20px 0px 40px 0px;
	color: #666;
}

.login-form-header {
    color: black;
	font-size: 20px;
	text-align: left;
    font-weight: normal;
    margin-bottom: 40px;
}

.login-form {
	width: 90%;
	margin: auto;
}

.input-label {
    font-family: helvetica;
	float: left;
	font-size: 14px;
	margin: 10px 0px 5px 0px;
}

.form-hr {
	margin: 15px auto 15px auto;
	border-top: 1px solid #ddd;
	width: 60%;
}

.login-button-container {
	margin-top: 20px;
	text-align: center;
}

.login-button {
	width: 80%;
	height: 30px;
	background-color: #ddd;
	border: 1px solid #aaa;
	margin-right: 10px;
	font-size: 12px;
	&:hover {
		cursor: pointer;
		border: 1px solid #719ECE;
	}
}

.signup-link-container {
    font-family: helvetica;
    text-align: center;
	font-size: 14px;
	width: 90%;
	margin: auto;
}

.signup-link {
	color: blue;
    text-decoration: none;
    margin-left: 5px;
	&:hover {
		text-decoration: underline;
	}
}

@media (min-width: 300px) {
	.login-form {
		width: 270px;
		margin: auto;
	}
	.login-form-header {
		font-size: 30px;
	}
}

@media (min-width: 500px) {
	.login-form-container {
        width: 500px;
        border: 1px solid #ddd;
	}
}